html {
    background-color: bisque;
    font-size: 1em;
}
.wrapper {
    max-width:600px;
    margin:0 auto;
}
.header {
    font-size: 2rem;
    line-height:2em ;
    letter-spacing: 1px;

}
.copy {
font-size: 1em;
}
.helptext {
    font-size: 0.8em;
}